<!-- <ion-header class="head bg-white" [translucent]="true">
  <ion-toolbar class="tooolbar_head bg-white">
     <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons> 
    <div class="head_items d-flex align-items-center justify-content-between">
      <div>
         {{ folder }}
      </div>
      <div class="search_icon d-flex align-items-center justify-content-center">
        <img src="assets/icon/search.svg" alt="search" height="25" width="25">
      </div>
    </div>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <!------- PAGE2 ------>
  <!----- RESTURENT DETAILS SECTION HERE ----->
  <div class="hotel_page mb-3">
    <div class="hotel_detail">
      <div class="hotel_head d-flex align-items-center justify-content-between">
        <div class="back">
          <button class="back_btn d-flex align-items-center gap-1" style="color: #f51042;">
            <span class="d-inline-block d-flex align-items-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f51042" class="bi bi-chevron-left"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
              </svg>
            </span>
            Restaurant details
          </button>
        </div>
        <div class="side_menu">
          <ul class="list-unstyled d-flex align-items-center gap-2 m-0">
            <li class="d-flex align-items-center justify-content-center position-relative">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#f51042" class="bi bi-chat-left"
                viewBox="0 0 16 16">
                <path
                  d="M14 1a1 1 0 0 1 1 1v8a1 1 0 0 1-1 1H4.414A2 2 0 0 0 3 11.586l-2 2V2a1 1 0 0 1 1-1h12zM2 0a2 2 0 0 0-2 2v12.793a.5.5 0 0 0 .854.353l2.853-2.853A1 1 0 0 1 4.414 12H14a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z" />
              </svg>
              <span class="border">3</span>
            </li>
            <li class="d-flex align-items-center justify-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#f51042" class="bi bi-star"
                viewBox="0 0 16 16">
                <path
                  d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
              </svg>
            </li>
            <li class="d-flex align-items-center justify-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#f51042" class="bi bi-geo-alt-fill"
                viewBox="0 0 16 16">
                <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10zm0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6z" />
              </svg>
            </li>
            <li class="d-flex align-items-center justify-content-center">
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="#f51042" class="bi bi-telephone-fill"
                viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M1.885.511a1.745 1.745 0 0 1 2.61.163L6.29 2.98c.329.423.445.974.315 1.494l-.547 2.19a.678.678 0 0 0 .178.643l2.457 2.457a.678.678 0 0 0 .644.178l2.189-.547a1.745 1.745 0 0 1 1.494.315l2.306 1.794c.829.645.905 1.87.163 2.611l-1.034 1.034c-.74.74-1.846 1.065-2.877.702a18.634 18.634 0 0 1-7.01-4.42 18.634 18.634 0 0 1-4.42-7.009c-.362-1.03-.037-2.137.703-2.877L1.885.511z" />
              </svg>
            </li>
            <li>
              <ion-buttons slot="start" style="color: #f51042;">
                <ion-menu-button></ion-menu-button>
              </ion-buttons>
            </li>
          </ul>
        </div>
      </div>
      <div class="px-3 pt-5 mt-2 pb-3">
        <div>
          <h2 class="font-weight-bold text-white">Conrad Chicago Restaurant</h2>
          <p class="font-weight-light text-white-50 m-0">963 Madyson Drive Suite 679</p>
          <div class="rating-wrap d-flex align-items-center mt-2">
            <ul class="list-unstyled d-flex align-items-center gap-1 m-0 pe-1">
              <li>
                <span class="last">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#f5cd25" viewBox="0 0 16 16"
                    class="bi bi-star">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z">
                    </path>
                  </svg>
                </span>
              </li>
              <li>
                <span class="last">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#f5cd25" viewBox="0 0 16 16"
                    class="bi bi-star">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z">
                    </path>
                  </svg>
                </span>
              </li>
              <li>
                <span class="last">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#f5cd25" viewBox="0 0 16 16"
                    class="bi bi-star">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z">
                    </path>
                  </svg>
                </span>
              </li>
              <li>
                <span class="last">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#f5cd25" viewBox="0 0 16 16"
                    class="bi bi-star">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z">
                    </path>
                  </svg>
                </span>
              </li>
              <li>
                <span _ngcontent-vdy-c143="" class="last">
                  <svg _ngcontent-vdy-c143="" xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#ffffff"
                    viewBox="0 0 16 16" class="bi bi-star">
                    <path _ngcontent-vdy-c143=""
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z">
                    </path>
                  </svg>
                </span>
              </li>
            </ul>
            <p class="label-rating text-white-50 ml-2 small m-0"> (245 Reviews)</p>
          </div>
        </div>
        <div class="pt-4">
          <div class="row">
            <div class="col-6">
              <p class="m-0 small text-white">Delivery <span class="badge badge-osahan badge-warning small">Free</span>
              </p>
            </div>
            <div class="col-6">
              <p class="m-0 small text-white">Open time <span class="badge badge-osahan badge-dark small">8:00
                  AM</span></p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!----- MENU LIST SECTION HERE ----->
    <div class="menu d-flex align-items-center justify-content-between">
      <p class="m-0">Menu</p>
      <p class="view d-flex align-items-center m-0">
        View
        <span class="d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#f51042"
            class="bi bi-chevron-double-right" viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
            <path fill-rule="evenodd"
              d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
          </svg>
        </span>
      </p>
    </div>
    <!----- QUICK BITES SECTION HERE ----->
    <div class="add">
      <div class="bites">
        Quick Bites <span>3 ITEMS</span>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <div class="nonveg_icon d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#f51042" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <div>
            <h6 class="mb-1">Chicken Tikka Sub <span class="best_sale">BEST SELLER</span></h6>
            <p class="m-0">$250</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <div class="nonveg_icon d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#f51042" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <div>
            <h6 class="mb-1">Cheese corn Roll</h6>
            <p class="m-0">$600</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <div class="nonveg_icon nonveg_veg d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#28a745" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <div>
            <h6 class="mb-1">Paneer Tikka Sub <span class="best_sale best_veg">Pure Veg</span></h6>
            <p class="m-0">$250</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
    </div>
    <!----- STARTERS SECTION HERE ----->
    <div class="add">
      <div class="bites pt-4">
        Starters <span>3 ITEMS</span>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <span class="starters d-inline-block me-2"
            style="background-image: url('../../assets/icon/chicken_tikka.jpg');">
          </span>
          <div>
            <h6 class="mb-1">Chicken Tikka Sub <span class="best_sale">BEST SELLER</span></h6>
            <p class="m-0">$250</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <span class="starters d-inline-block me-2" style="background-image: url('../../assets/icon/sales3.png');">
          </span>
          <div>
            <h6 class="mb-1">Chicken Tikka Sub</h6>
            <p class="m-0">$250</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <span class="starters d-inline-block me-2"
            style="background-image: url('../../assets/icon/Spring-Roll.webp');">
          </span>
          <div>
            <h6 class="mb-1">veg Roll <span class="best_sale best_veg">Pure Veg</span></h6>
            <p class="m-0">$250</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
    </div>
    <!----- SOUPS SECTION HERE ----->
    <div class="add mb-3">
      <div class="bites pt-4">
        Soups <span>8 ITEMS</span>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <div class="nonveg_icon d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#f51042" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <div>
            <h6 class="mb-1">Chicken Soup</h6>
            <p class="m-0">$250</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <div class="nonveg_icon d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#f51042" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <div>
            <h6 class="mb-1">Cheese corn Roll</h6>
            <p class="m-0">$600</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <div class="nonveg_icon nonveg_veg d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#28a745" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <div>
            <h6 class="mb-1">Knorr Soup <span class="best_sale">BEST SELLER</span></h6>
            <p class="m-0">$250</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <div class="nonveg_icon nonveg_veg d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#28a745" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <div>
            <h6 class="mb-1">Paneer Tikka Sub</h6>
            <p class="m-0">$250</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <div class="nonveg_icon d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#f51042" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <div>
            <h6 class="mb-1">Chicken Tikka Sub <span class="best_sale">BEST SELLER</span></h6>
            <p class="m-0">$250</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
      <div class="add_itms d-flex justify-content-between">
        <div class="d-flex">
          <div class="nonveg_icon nonveg_veg d-flex align-items-center justify-content-center me-2">
            <svg xmlns="http://www.w3.org/2000/svg" width="6" height="6" fill="#28a745" class="bi bi-circle-fill"
              viewBox="0 0 16 16">
              <circle cx="8" cy="8" r="8"></circle>
            </svg>
          </div>
          <div>
            <h6 class="mb-1">Paneer Tikka Sub</h6>
            <p class="m-0">$250</p>
          </div>
        </div>
        <div class="add_btn_div">
          <button class="add_btn">
            ADD
          </button>
        </div>
      </div>
    </div>
    <!----- PLACE RATING SECTION HERE ----->
    <div class="place d-flex align-items-center justify-content-between mb-3">
      <div class="rate text-black">
        <p class="m-0">Rate this Place</p>
      </div>
      <div class="star_icons">
        <ul class="list-unstyled d-flex align-items-center m-0 p-0">
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
              viewBox="0 0 16 16">
              <path
                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
            </svg>
          </li>
          <li class="ms-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
              viewBox="0 0 16 16">
              <path
                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
            </svg>
          </li>
          <li class="ms-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
              viewBox="0 0 16 16">
              <path
                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
            </svg>
          </li>
          <li class="ms-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
              viewBox="0 0 16 16">
              <path
                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
            </svg>
          </li>
          <li class="ms-1">
            <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#000" class="bi bi-star"
              viewBox="0 0 16 16">
              <path
                d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
            </svg>
          </li>
        </ul>
      </div>
    </div>
    <!----- RATTING GRAF SECTION HERE ----->
    <div class="ratting mb-3">
      <p class="mb-2">Ratings and Reviews</p>
      <ul class="list-unstyled d-flex align-items-center m-0 p-0">
        <li>
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
            viewBox="0 0 16 16">
            <path
              d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
          </svg>
        </li>
        <li class="ms-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
            viewBox="0 0 16 16">
            <path
              d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
          </svg>
        </li>
        <li class="ms-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
            viewBox="0 0 16 16">
            <path
              d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
          </svg>
        </li>
        <li class="ms-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
            viewBox="0 0 16 16">
            <path
              d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
          </svg>
        </li>
        <li class="ms-1">
          <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#000" class="bi bi-star"
            viewBox="0 0 16 16">
            <path
              d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
          </svg>
        </li>
      </ul>
      <span class="out-off">
        Rated 3.5 out of 5
      </span>
      <div class="graph-star-rating-body">
        <div class="rating-list">
          <div class="rating-list-left font-weight-bold small text-black">5 Star</div>
          <div class="rating-list-center">
            <div class="progress">
              <div role="progressbar" class="progress-bar bg-info" aria-valuenow="56" aria-valuemin="0"
                aria-valuemax="100" style="width: 56%;"></div>
            </div>
          </div>
          <div class="rating-list-right font-weight-bold small text-black">56%</div>
        </div>
        <div class="rating-list">
          <div class="rating-list-left font-weight-bold small text-black">4 Star</div>
          <div class="rating-list-center">
            <div class="progress">
              <div role="progressbar" class="progress-bar bg-info" aria-valuenow="56" aria-valuemin="0"
                aria-valuemax="100" style="width: 23%;"></div>
            </div>
          </div>
          <div class="rating-list-right font-weight-bold small text-black">23%</div>
        </div>
        <div class="rating-list">
          <div class="rating-list-left font-weight-bold small text-black">3 Star</div>
          <div class="rating-list-center">
            <div class="progress">
              <div role="progressbar" class="progress-bar bg-info" aria-valuenow="56" aria-valuemin="0"
                aria-valuemax="100" style="width: 11%;"></div>
            </div>
          </div>
          <div class="rating-list-right font-weight-bold small text-black">11%</div>
        </div>
        <div class="rating-list">
          <div class="rating-list-left font-weight-bold small text-black">2 Star</div>
          <div class="rating-list-center">
            <div class="progress">
              <div role="progressbar" class="progress-bar bg-info" aria-valuenow="56" aria-valuemin="0"
                aria-valuemax="100" style="width: 6%;"></div>
            </div>
          </div>
          <div class="rating-list-right font-weight-bold small text-black">6%</div>
        </div>
        <div class="rating-list">
          <div class="rating-list-left font-weight-bold small text-black">1 Star</div>
          <div class="rating-list-center">
            <div class="progress">
              <div role="progressbar" class="progress-bar bg-info" aria-valuenow="56" aria-valuemin="0"
                aria-valuemax="100" style="width: 4%;"></div>
            </div>
          </div>
          <div class="rating-list-right font-weight-bold small text-black">4%</div>
        </div>
        <div class="graph-star-rating-footer text-center mt-3"><button type="button"
            class="btn btn-primary btn-block btn-sm">Rate and Review</button></div>
      </div>
    </div>
    <!----- RATTING AND REVIEWS SECTION HERE ----->
    <div class="bg-white shadow-sm restaurant-detailed-ratings-and-reviews">
      <a class="float-end" href="#">Top Rated</a>
      <h6 class="mb-1">All Ratings and Reviews</h6>
      <div class="reviews-members pt-3 pb-1">
        <div class="media d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <div class="profile_pic me-2" style="background-image: url('../../assets/icon/reviewer2.png');">
            </div>
            <div class="name">
              <h6 class="mb-0">Trump</h6>
              <p class="text-muted small mb-0">Tue, 20 Mar 2020</p>
            </div>
          </div>
          <div class="media-star">
            <ul class="list-unstyled d-flex  justify-content-end w-100 m-0 p-0">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
              </li>
              <li class="ms-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
              </li>
              <li class="ms-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
              </li>
              <li class="ms-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
              </li>
              <li class="ms-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#000" class="bi bi-star"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="media_body">
          <p class="mb-0 mt-3 text-black">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classNameical
            Latin literature from 45 BC, making it over 2000 years old.
          </p>
          <div class="like_btn d-flex align-items-center mt-2">
            <div>
              <ul class="list-unstyled d-flex align-items-center gap-3 m-0 p-0">
                <li>
                  <button class="dislike_btn d-flex">
                    <span class="pe-1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                        class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                        <path
                          d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                      </svg>
                    </span>
                    856M
                  </button>
                </li>
                <li>
                  <button class="dislike_btn d-flex">
                    <span class="pe-1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                        class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                        <path
                          d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                      </svg>
                    </span>
                    2K
                  </button>
                </li>
              </ul>
            </div>
            <div class="pupels">
              <ul class="list-unstyled  d-flex align-items-center ms-3 m-0">
                <li>
                  <div class="like_by" style="background-image: url('../../assets/icon/reviewer6.png');"></div>
                </li>
                <li>
                  <div class="like_by" style="background-image: url('../../assets/icon/reviewer5.png');"></div>
                </li>
                <li>
                  <div class="like_by" style="background-image: url('../../assets/icon/reviewer4.png');"></div>
                </li>
                <li>
                  <div class="like_by" style="background-image: url('../../assets/icon/reviewer3.png');"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
    <hr class="m-0">
    <div class="bg-white shadow-sm mb-3 restaurant-detailed-ratings-and-reviews">
      <div class="reviews-members py-3">
        <div class="media d-flex align-items-center justify-content-between">
          <div class="d-flex align-items-center">
            <div class="profile_pic me-2" style="background-image: url('../../assets/icon/reviewer1.png');">
            </div>
            <div class="name">
              <h6 class="mb-0">
                Jhon Smith</h6>
              <p class="text-muted small mb-0">Tue, 20 Mar 2020</p>
            </div>
          </div>
          <div class="media-star">
            <ul class="list-unstyled d-flex  justify-content-end w-100 m-0 p-0">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
              </li>
              <li class="ms-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
              </li>
              <li class="ms-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
              </li>
              <li class="ms-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
              </li>
              <li class="ms-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#000" class="bi bi-star"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
              </li>
            </ul>
          </div>
        </div>
        <div class="media_body">
          <p class="mb-0 mt-3 text-black">
            Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classNameical
            Latin literature from 45 BC, making it over 2000 years old.
          </p>
          <div class="like_btn d-flex align-items-center mt-2">
            <div>
              <ul class="list-unstyled d-flex align-items-center gap-3 m-0 p-0">
                <li>
                  <button class="dislike_btn d-flex">
                    <span class="pe-1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                        class="bi bi-hand-thumbs-up" viewBox="0 0 16 16">
                        <path
                          d="M8.864.046C7.908-.193 7.02.53 6.956 1.466c-.072 1.051-.23 2.016-.428 2.59-.125.36-.479 1.013-1.04 1.639-.557.623-1.282 1.178-2.131 1.41C2.685 7.288 2 7.87 2 8.72v4.001c0 .845.682 1.464 1.448 1.545 1.07.114 1.564.415 2.068.723l.048.03c.272.165.578.348.97.484.397.136.861.217 1.466.217h3.5c.937 0 1.599-.477 1.934-1.064a1.86 1.86 0 0 0 .254-.912c0-.152-.023-.312-.077-.464.201-.263.38-.578.488-.901.11-.33.172-.762.004-1.149.069-.13.12-.269.159-.403.077-.27.113-.568.113-.857 0-.288-.036-.585-.113-.856a2.144 2.144 0 0 0-.138-.362 1.9 1.9 0 0 0 .234-1.734c-.206-.592-.682-1.1-1.2-1.272-.847-.282-1.803-.276-2.516-.211a9.84 9.84 0 0 0-.443.05 9.365 9.365 0 0 0-.062-4.509A1.38 1.38 0 0 0 9.125.111L8.864.046zM11.5 14.721H8c-.51 0-.863-.069-1.14-.164-.281-.097-.506-.228-.776-.393l-.04-.024c-.555-.339-1.198-.731-2.49-.868-.333-.036-.554-.29-.554-.55V8.72c0-.254.226-.543.62-.65 1.095-.3 1.977-.996 2.614-1.708.635-.71 1.064-1.475 1.238-1.978.243-.7.407-1.768.482-2.85.025-.362.36-.594.667-.518l.262.066c.16.04.258.143.288.255a8.34 8.34 0 0 1-.145 4.725.5.5 0 0 0 .595.644l.003-.001.014-.003.058-.014a8.908 8.908 0 0 1 1.036-.157c.663-.06 1.457-.054 2.11.164.175.058.45.3.57.65.107.308.087.67-.266 1.022l-.353.353.353.354c.043.043.105.141.154.315.048.167.075.37.075.581 0 .212-.027.414-.075.582-.05.174-.111.272-.154.315l-.353.353.353.354c.047.047.109.177.005.488a2.224 2.224 0 0 1-.505.805l-.353.353.353.354c.006.005.041.05.041.17a.866.866 0 0 1-.121.416c-.165.288-.503.56-1.066.56z" />
                      </svg>
                    </span>
                    856M
                  </button>
                </li>
                <li>
                  <button class="dislike_btn d-flex">
                    <span class="pe-1">
                      <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="currentColor"
                        class="bi bi-hand-thumbs-down" viewBox="0 0 16 16">
                        <path
                          d="M8.864 15.674c-.956.24-1.843-.484-1.908-1.42-.072-1.05-.23-2.015-.428-2.59-.125-.36-.479-1.012-1.04-1.638-.557-.624-1.282-1.179-2.131-1.41C2.685 8.432 2 7.85 2 7V3c0-.845.682-1.464 1.448-1.546 1.07-.113 1.564-.415 2.068-.723l.048-.029c.272-.166.578-.349.97-.484C6.931.08 7.395 0 8 0h3.5c.937 0 1.599.478 1.934 1.064.164.287.254.607.254.913 0 .152-.023.312-.077.464.201.262.38.577.488.9.11.33.172.762.004 1.15.069.13.12.268.159.403.077.27.113.567.113.856 0 .289-.036.586-.113.856-.035.12-.08.244-.138.363.394.571.418 1.2.234 1.733-.206.592-.682 1.1-1.2 1.272-.847.283-1.803.276-2.516.211a9.877 9.877 0 0 1-.443-.05 9.364 9.364 0 0 1-.062 4.51c-.138.508-.55.848-1.012.964l-.261.065zM11.5 1H8c-.51 0-.863.068-1.14.163-.281.097-.506.229-.776.393l-.04.025c-.555.338-1.198.73-2.49.868-.333.035-.554.29-.554.55V7c0 .255.226.543.62.65 1.095.3 1.977.997 2.614 1.709.635.71 1.064 1.475 1.238 1.977.243.7.407 1.768.482 2.85.025.362.36.595.667.518l.262-.065c.16-.04.258-.144.288-.255a8.34 8.34 0 0 0-.145-4.726.5.5 0 0 1 .595-.643h.003l.014.004.058.013a8.912 8.912 0 0 0 1.036.157c.663.06 1.457.054 2.11-.163.175-.059.45-.301.57-.651.107-.308.087-.67-.266-1.021L12.793 7l.353-.354c.043-.042.105-.14.154-.315.048-.167.075-.37.075-.581 0-.211-.027-.414-.075-.581-.05-.174-.111-.273-.154-.315l-.353-.354.353-.354c.047-.047.109-.176.005-.488a2.224 2.224 0 0 0-.505-.804l-.353-.354.353-.354c.006-.005.041-.05.041-.17a.866.866 0 0 0-.121-.415C12.4 1.272 12.063 1 11.5 1z" />
                      </svg>
                    </span>
                    2K
                  </button>
                </li>
              </ul>
            </div>
            <div class="pupels">
              <ul class="list-unstyled  d-flex align-items-center ms-3 m-0">
                <li>
                  <div class="like_by" style="background-image: url('../../assets/icon/reviewer6.png');"></div>
                </li>
                <li>
                  <div class="like_by" style="background-image: url('../../assets/icon/reviewer5.png');"></div>
                </li>
                <li>
                  <div class="like_by" style="background-image: url('../../assets/icon/reviewer4.png');"></div>
                </li>
                <li>
                  <div class="like_by" style="background-image: url('../../assets/icon/reviewer3.png');"></div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <hr class="mb-2 mt-0">
      <a class="text-center w-100 d-block mt-0 font-weight-bold" href="#">See All Reviews</a>
    </div>
    <!----- COMMENT SUBMIT SECTION HERE ----->
    <div class="bg-white shadow-sm rating-review-select-page">
      <h6 class="mb-2">Leave Comment</h6>
      <div class="d-flex align-items-center justify-content-between mb-3">
        <p class="m-0 small">Rate the Place</p>
        <div class="star-rating ml-auto">
          <div class="star_icons">
            <ul class="list-unstyled d-flex align-items-center m-0 p-0">
              <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
              </li>
              <li class="ms-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
              </li>
              <li class="ms-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
              </li>
              <li class="ms-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f5cd25" class="bi bi-star"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
              </li>
              <li class="ms-1">
                <svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#000" class="bi bi-star"
                  viewBox="0 0 16 16">
                  <path
                    d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                </svg>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <form>
        <div class="form-group mb-3">
          <label class="form-label small">
            Your Comment
          </label>
          <textarea class="form-control" placeholder="leave your comment">
          </textarea>
        </div>
        <div class="form-group mb-0">
          <button type="button" class="btn btn-primary btn-block">
            Submit Comment
          </button>
        </div>
      </form>
    </div>
    <!----- PROCEED SECTION HERE ----->
    <div class="fixed-bottom">
      <a
        class="btn proceed btn-block btn-lg text-white rounded shadow text-decoration-none d-flex align-items-center shadow">
        <div class="add_cart d-flex align-items-center justify-content-center pe-3">
          <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-bag-check"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
            <path
              d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
          </svg>
        </div>
        <div class="ms-3 text-left">
          <p class="mb-0 item text-white-50">5 item</p>
          <p class="mb-0 font-weight-bold text-white">$235,50.00</p>
        </div>
        <div class="ms-auto">
          <p class="mb-0 text-white">
            Proceed to cart
            <span>
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-chevron-right" viewBox="0 0 16 16">
                <path fill-rule="evenodd"
                  d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z" />
              </svg>
            </span>
          </p>
        </div>
      </a>
    </div>
  </div>
</ion-content>