// PAGE 2 RESTURENT DETAILS
/*----- MOST POPULAR SECTION SCSS HERE -----*/
.hotel_page {
    .hotel_detail {
        background: linear-gradient(45deg, #f00062 0%, #f51042 100%);

        .hotel_head {
            .back {
                .back_btn {
                    background: none;
                    padding: 0;
                }
            }

            ul {
                li {
                    .border {
                        background: linear-gradient(45deg, #f00062 0%, #f51042 100%);
                        border-color: #f00062;
                        color: #fff;
                        font-size: 9px;
                        min-width: 14px;
                        height: 14px;
                        position: absolute;
                        right: -5px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        border-radius: 40px;
                        top: -3px;
                        border: 1px solid #edeff1 !important;
                    }

                    .menu_icon {
                        .bar {
                            display: block;
                            height: 2px;
                            width: 22px;
                            background-color: #fff;
                            border-radius: 30px;
                        }

                        .bar_2 {
                            margin: 3px 0 !important;
                        }
                    }
                }
            }
        }

        h2 {
            font-size: 2rem;
            font-weight: 600;
            color: #fff;
        }

        p {
            font-size: 12px;
            color: rgba(255, 255, 255, .5);
            letter-spacing: 1px;
        }

        .rating-wrap {
            ul {
                .last {
                    display: inline-block;
                    height: 17px;
                    width: 17px;
                    border-radius: 3px;
                    font-weight: 600;
                    background-color: #000;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }
        }

        .badge-osahan {
            display: inline-block;
            font-weight: 400;
            font-size: 11px;
            padding: 3px 6px;
            text-transform: uppercase;
            color: #212529;
            background-color: #ffc107;
            border-radius: 2px;
        }

        .badge-dark {
            color: #fff;
            background-color: #343a40;
        }
    }

    /*----- MENU LIST SECTION SCSS HERE -----*/
    .menu {
        padding: 15px 10px;

        p {
            font-size: 12px;
            font-weight: 600;
            color: #5f5959;
            letter-spacing: .2px;
        }

        .view {
            font-size: 12px;
            font-weight: 600;
            color: #f51042;
            letter-spacing: .2px;
        }
    }

    .bites {
        padding: 0 10px 10px;
        font-size: 14px;
        font-weight: 600;
        color: #000;
        border-bottom: 1px solid #edeff1;

        span {
            font-size: 11px;
            font-weight: 400;
            color: rgba(0, 0, 0, .5);
        }
    }

    .add_itms {
        padding: 13px 10px;
        border-bottom: 1px solid #edeff1;

        h6 {
            font-size: 14px;
            font-weight: 600;
            color: #000;

            .best_sale {
                background-color: #f00062;
                font-size: 9px;
                font-weight: 500;
                color: #fff;
                padding: 3px 6px;
                border-radius: 3px;
            }

            .best_veg {
                background-color: #28a745;
            }
        }

        p {
            font-size: 12px;
            font-weight: 500;
            color: #6c757d;
        }

        .add_btn_div {

            .add_btn {
                height: 26px;
                font-size: 11px;
                font-weight: 600;
                background: #fff3f4;
                border: 1px solid #f51042;
                color: #f51042;
                cursor: pointer;
                padding: .25rem .5rem;
                border-radius: .2rem;
                transition: all 0.3s ease-in-out;

                &:hover {
                    background-color: #f51042;
                    color: #fff;
                }
            }
        }

        .starters {
            height: 45px;
            width: 45px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
            object-position: center;
        }
    }

    /*----- PLACE RATTING SECTION SCSS HERE -----*/
    .place {
        padding: 10px 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;

        .rate {
            p {
                font-size: 14px;
                font-weight: 600;
                color: #000;
            }
        }
    }

    /*----- RATTING GRAF SECTION SCSS HERE -----*/
    .ratting {
        padding: 10px 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;

        p {
            font-size: 14px;
            font-weight: 600;
            color: #000;
        }

        .out-off {
            font-size: 11px;
            color: #6c757d !important;
        }

        .graph-star-rating-body {
            .rating-list {
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 6px 0;

                .rating-list-left {
                    width: 18%;
                    font-size: 12px !important;
                    font-weight: 400 !important;
                }

                .rating-list-center {
                    margin: auto;
                    width: 70%;

                    .progress {
                        border-radius: 40px;
                        height: 6px;

                        .progress-bar {
                            width: 56%;
                        }

                        .bg-info {
                            background-color: #17a2b8 !important;
                        }
                    }
                }

                .rating-list-right {
                    width: 12%;
                    text-align: end;
                }
            }
        }

        .graph-star-rating-footer {
            button {
                cursor: pointer;
                background: linear-gradient(45deg, #f00062 0%, #f51042 100%);
                border-color: #f00062;
                border-radius: .2rem;
                color: #fff;
                width: 100%;
            }
        }
    }

    /*----- RATTING AND REVIEWS SECTION SCSS HERE -----*/
    .restaurant-detailed-ratings-and-reviews {
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;

        h6 {
            font-size: 14px;
            font-weight: 600;
            color: #000;
        }

        a {
            font-size: 12px;
            font-weight: 600;
            color: #f51042 !important;
            letter-spacing: 0.2px;
        }

        .reviews-members {
            .media {
                .profile_pic {
                    height: 45px;
                    width: 45px;
                    border-radius: 100%;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-size: cover;
                    object-fit: cover;
                    object-position: center;
                }

                .name {
                    h6 {
                        font-size: 14px;
                        font-weight: 600;
                        color: #000;
                    }

                    .text-muted {
                        font-size: 12px;
                        color: #6c757d;
                    }
                }
            }

            .media_body {
                margin-left: 60px;

                p {
                    font-size: 13px;
                    color: #5f5959;
                    letter-spacing: .2px;
                }

                .like_btn {
                    ul {
                        li {
                            .dislike_btn {
                                background: none;
                                color: #f51042;
                                border-color: #f51042;
                                font-size: 11px;
                                padding: 2px 6px;
                                border-radius: .2rem;
                                cursor: pointer;
                                border: 1px solid #f00062;
                                transition: all 0.4s ease-in-out;

                                &:hover {
                                    background-color: #f00062;
                                    color: #fff;
                                }
                            }
                        }
                    }

                    .pupels {
                        ul {
                            li {
                                margin-left: -8px;

                                .like_by {
                                    height: 25px;
                                    width: 25px;
                                    border-radius: 100%;
                                    background-position: center;
                                    background-repeat: no-repeat;
                                    background-size: cover;
                                    object-fit: cover;
                                    object-position: center;
                                    border: 2px solid #fff;
                                    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
                                }
                            }
                        }
                    }
                }
            }
        }

        hr {
            border-top: 2px solid rgba(0, 0, 0, .1);
        }
    }

    /*----- COMMENT SUBMIT SECTION SCSS HERE -----*/
    .rating-review-select-page {
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px !important;
        margin-bottom: 80px;

        h6 {
            font-size: 14px;
            font-weight: 600;
            color: #000;
        }

        .small {
            font-size: 11px;
            font-weight: 400;
            color: #5f5959;
            letter-spacing: .2px;
        }

        .form-group {
            .btn {
                cursor: pointer;
                background: linear-gradient(45deg, #f00062 0%, #f51042 100%);
                border-color: #f00062;
                display: block;
                font-size: 13px;
                width: 100%;
                color: #fff;
                border-radius: .25rem;
            }
        }
    }
}