<ion-content>
  <div class="hotel_head d-flex align-items-center justify-content-between">
    <div class="back">
      <button class="back_btn bg-white d-flex align-items-center gap-1" style="color: #000;">
        <span class="d-inline-block d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-chevron-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg>
        </span>
        Login
      </button>
    </div>
    <div class="side_menu">
      <ul class="list-unstyled d-flex align-items-center gap-3 m-0">
        <li class="d-flex align-items-center justify-content-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#000" class="bi bi-bag-check"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
            <path
              d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
          </svg>
        </li>
        <li>
          <ion-buttons slot="start" style="color: #000;">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </li>
      </ul>
    </div>
  </div>
  <div class="main-parent">
    <div class="py-3 osahan-cart-item" style="margin-top: 50px;">
      <div class="login-portion">
        <div class="login-card">
          <h2>Wellcome back</h2>
          <p>Sign in to continue</p>

          <!-- gd -->
          <form class="loginform">
            <div class="form">
              <div class="login__field d-flex"><img
                  src="../../../assets/icon/2634312_ensign_flag_india_nation_icon.svg" />
                <input type="text" class="login__input" placeholder="Phone number">
              </div>
              <div class="d-flex code"> <button>Send OTP</button></div>
              <div class="differ"><span> <img src="../../../assets/icon/Line 62.svg" /></span> <span
                  class="lined">OR</span> <span><img src="../../../assets/icon/Line 62.svg" /></span>
              </div>
              <div class="login__field d-flex"><img src="../../../assets/icon/icons.svg" />
                <input type="text" class="login__input" placeholder="Continue with Email">
              </div>
              <div class="login__field d-flex"><img src="../../../assets/icon/104490_apple_icon.svg" />
                <input type="text" class="login__input" placeholder="Continue with apple">
              </div>

              <div class="row social">
                <div class="col">
                  <div class="facebook d-flex">
                    <img src="../../../assets/icon/3225194_app_facebook_logo_media_popular_icon.svg" />
                    <div>Facebbok</div>
                  </div>
                </div>
                <div class="col">

                  <div class="facebook d-flex">
                    <img src="../../../assets/icon/_x31__stroke.svg" />
                    <div>Google</div>
                  </div>
                </div>
              </div>
              <div class="term">
                <span>By continue, by agree term</span>
                <ul class="d-flex">
                  <li> <a href="#">Terms of condition</a></li>
                  <li> <a href="#">Privacy policy</a></li>
                  <li> <a href="#">Contect policies</a></li>
                </ul>
              </div>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</ion-content>