// .login-section {
//     padding: 20px 30px;

//     h2 {
//         font-size: 30px;
//         color: #fff;
//     }

//     p {
//         color: #8E8E8E;
//         margin: 0px;
//     }

//     .text {
//         border: 1px solid #CCCCCC;
//         color: #495057;
//         justify-content: center;
//         align-items: center;
//         text-align: center;
//         padding: 15px;
//         font-size: 30px;
//         border-radius: 5px;
//         margin: 50px 0px;
//         font-weight: 600;
//     }

//     .verify {
//         button {
//             width: 100%;
//             padding: 15px;
//             background: #F40E47;
//             color: #fff;
//             border-radius: 10px;
//             text-transform: uppercase;
//             font-size: 16px;
//             font-weight: 500;
//             cursor: pointer;
//         }
//     }
// }

.main-parent {
    height: 100vh;
    background-image: url('../../../assets/icon/bac.svg');

}

.login-portion {


    .login-card {
        padding: 20px;

        h2 {
            font-size: 30px;
            color: #fff;
        }

        p {
            color: #fff;
            margin: 0px 0px 45px 0px;
        }

        label {
            color: #fff;
        }

        form {
            .form {
                .code {
                    button {
                        width: 100%;
                        padding: 15px;
                        background: #F40E47;
                        color: #fff;
                        border-radius: 10px;

                        font-size: 16px;
                        font-weight: 500;
                        cursor: pointer;
                        margin: 20px 0px;
                    }
                }

                .login__field {
                    background-color: #fff;
                    height: 50px;
                    border: 1px solid #fff;
                    border-radius: 5px;
                    margin-bottom: 20px;

                    img {
                        padding: 7px 20px;
                        width: 60px;
                    }

                    .login__input {
                        background-color: transparent;
                        width: 100%;
                        border: none;
                        color: #000;
                        padding-left: 10px;

                    }

                    .login__input:active,
                    .login__input:focus,
                    .login__input:hover {
                        outline: none;

                    }
                }

                .social {
                    .facebook.d-flex {
                        color: #000;
                        border-radius: 5px;
                        border: 1px solid #fff;
                        padding: 13px 20px;
                        gap: 10px;
                        font-size: 16px;
                        background: #fff;
                    }
                }

                .term {
                    text-align: center;
                    padding: 20px 0px;

                    span {
                        font-size: 16px;
                        color: #fff;
                    }

                    ul {
                        padding: 10px 0px;
                        gap: 10px;
                        justify-content: center;
                        list-style-type: none;
                        color: #fff;

                        a {
                            text-decoration: underline !important;
                            color: #fff !important;
                            font-size: 14px !important;
                        }

                    }

                }
            }
        }

        .differ {
            display: flex;
            justify-content: center;
            margin-bottom: 20px;

            .lined {
                background: #000;
                color: #fff;
                font-size: 14px;
                padding: 5px;
                border-radius: 40px;
            }
        }
    }
}