// PAGE 3 RESTURENT DETAILS
/*----- RECIPE PAGE SECTION SCSS HERE -----*/
.hotel_head {
    .back {
        .back_btn {
            background: none;
            border: none;
            color: #000;
        }
    }

    .side_menu {
        .menu_icon {
            .bar {
                display: block;
                height: 2px;
                width: 22px;
                background-color: #000;
                border-radius: 30px;
            }

            .bar_2 {
                margin: 3px 0 !important;
            }
        }
    }
}

.recipe_page {
    padding: 10px;

    .recipe_first {
        padding-top: 70%;
        width: 100%;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        object-fit: cover;
        object-position: center;
    }

    .recepie-body {
        margin-bottom: 80PX;

        h2 {
            font-size: 2rem;
            font-weight: 600 !important;
            color: #000;
        }

        h6 {
            font-size: 14px;
            font-weight: 600;
            color: #000;
        }

        p {
            font-weight: 400;
            font-size: 12px;
            letter-spacing: .2px;
            color: #6c757d !important;
        }

        .extre {
            font-size: 12px;
            font-weight: 400;
            width: 100% !important;
            color: #000;
        }

        .select {
            p {
                letter-spacing: .2px;
                font-weight: 400;
                font-size: 12px;
                color: #5f5959;
            }

            .custom-select {
                display: inline-block;
                width: 100%;
                height: calc(1.5em + .75rem + 2px);
                padding: .375rem 1.75rem .375rem .75rem;
                padding-top: 0.375rem;
                padding-bottom: 0.375rem;
                padding-left: 0.75rem;
                font-size: 1rem;
                font-weight: 400;
                line-height: 1.5;
                color: #495057;
                vertical-align: middle;
                background: #fff url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right .75rem center/8px 10px;
                border: 1px solid #ced4da;
                border-radius: .25rem;
                -webkit-appearance: none;
                -moz-appearance: none;
                appearance: none;
            }
        }
    }


    .btn-lg {
        font-size: 13px;
        padding: 12px 15px;
        font-weight: 600;
        border-radius: 11px;
        text-transform: uppercase;
        letter-spacing: .9px;
        cursor: pointer;
        border-color: #f00062;
        background: linear-gradient(45deg, #f00062 0%, #f51042 100%);
        display: block;
        width: 100%;
        color: #fff !important;
    }
}