.osahan-cart-item {
    .osahan-cart-item-profile {
        .contact-info {
            p {
                font-size: 12px;
                color: #5f5959;
            }

            .form-group {
                label {
                    font-weight: 600;
                    padding-left: 4px;
                }
            }
        }

    }
}