// PAGE 4 RESTURENT DETAILS
/*----- ORDER PAGE SECTION SCSS HERE -----*/
.order_page {
    .chattori_street {
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        .item_img {
            height: 50px;
            width: 50px;
            border-radius: 50%;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            object-fit: cover;
            object-position: center;
        }

        .location {


            h6 {
                font-size: 14px;
                font-weight: 600;
                color: #000;
            }

            p {
                font-size: 11px !important;
                font-weight: 400;
                color: #6c757d !important;
                letter-spacing: .2px;
            }
        }
    }

    .orders {
        padding: 10px;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;

        .order_item {
            border-bottom: 1px solid #edeff1;
            padding: 13px 10px;

            p {
                font-size: 12px;
                font-weight: 400;
                color: #5f5959;
                letter-spacing: .2px;
            }

            .order_count {
                .osahan-quantity {
                    display: flex;
                    width: 72px;
                    border-radius: 4px;
                    overflow: hidden;
                    height: 26px;
                    border-color: #f51042;
                    border: 1px solid #f51042;
                    font-size: 12px;

                    .plus,
                    .minus {
                        border: none;
                        color: #f51042;
                        background: #fff3f4;
                        font-size: 15px;
                        outline: none;
                        width: 22px;
                        padding: 0;
                        display: flex;
                    }

                    .qty {
                        border: none;
                        border-inline: 1px solid #f51042;
                        text-align: center;
                        width: 26px;
                        background: #fff3f4;
                        outline: none;
                        font-size: 11px;
                        color: #f51042;
                    }
                }
            }
        }
    }

    .input-group {
        position: relative;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-align: stretch;
        align-items: stretch;
        width: 100%;

        input {
            outline: none;
            box-shadow: none;
        }

        .input-group-append {
            margin-left: -1px;
            font-size: 12px;
            color: #000;

            .btn {
                font-size: 13px;
                padding: .25rem .5rem;
                line-height: 1.5;
                border-radius: .2rem;
                cursor: pointer;
                position: relative;
                z-index: 2;
                background: linear-gradient(45deg, #f00062 0%, #f51042 100%);
                border-color: #f00062;
                color: #fff;
            }
        }

        .input-group-prepend {
            margin-right: -1px;
            display: flex;
            outline: none !important;
            font-size: 12px;
            color: #000;
            font-weight: 400;
            line-height: 1.5;
            text-align: left;

            .input-group-text {
                border-radius: 2px;
            }
        }
    }

    .promocode {
        padding: 10px;
    }

    .total_pay {
        padding: 10px;
        margin-bottom: 80px !important;

        p {
            font-size: 12px;
            color: #5f5959;
            letter-spacing: .2px;
        }

        h6 {
            font-size: 14px;
            font-weight: 600 !important;
        }

        hr {
            margin-bottom: 9px;
        }
    }
}