.osahan-cart-item {
    .osahan-cart-item-profile {
        p {
            font-size: 12px;
            color: #5f5959;
        }

        .form-group {
            label {
                font-weight: 600;
                padding-left: 4px;
            }
        }

        .save-btn {
            cursor: pointer;
            background: linear-gradient(45deg, #f00062 0%, #f51042 100%);
            border-color: #f00062;
            border-radius: 0.2rem;
            color: #fff;
            width: 100%;
            padding: 6px 10px;
            font-weight: 600;
        }
    }
}