<!-- <ion-header>
  <ion-toolbar>
    <ion-title>trending</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <!------- PAGE5 ------>
  <!----- TRENDING SECTION HERE ----->
  <div class="order mb-3">
    <div class="hotel_head d-flex align-items-center justify-content-between">
      <div class="back">
        <button class="back_btn bg-white d-flex align-items-center gap-1" style="color: #000;">
          <span class="d-inline-block d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-chevron-left"
              viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
            </svg>
          </span>
          Trending
        </button>
      </div>
      <div class="side_menu">
        <ul class="list-unstyled d-flex align-items-center gap-2 m-0">
          <li class="d-flex align-items-center justify-content-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="000" class="bi bi-funnel"
              viewBox="0 0 16 16">
              <path
                d="M1.5 1.5A.5.5 0 0 1 2 1h12a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.128.334L10 8.692V13.5a.5.5 0 0 1-.342.474l-3 1A.5.5 0 0 1 6 14.5V8.692L1.628 3.834A.5.5 0 0 1 1.5 3.5v-2zm1 .5v1.308l4.372 4.858A.5.5 0 0 1 7 8.5v5.306l2-.666V8.5a.5.5 0 0 1 .128-.334L13.5 3.308V2h-11z" />
            </svg>
          </li>
          <li>
            <ion-buttons slot="start" style="color: #000;">
              <ion-menu-button></ion-menu-button>
            </ion-buttons>
          </li>
        </ul>
      </div>
    </div>
    <div class="d_f_between mb-2 mt-5 pt-2">
      <div class="col_6">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image" style="background-image: url('../../assets/icon/popular1.png');">
            <div class="star position-absolute">
              <span class="badge badge-success d-flex align-items-center gap-1">
                <span class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
                </span>
                <span class="d-flex align-items-center">
                  4.4
                </span>
              </span>
            </div>
            <div class="favourite-heart position-absolute">
              <span class="bookmarke d-inline-block d-flex align-items-center justify-content-center bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#000" class="bi bi-bookmark"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
              </span>
            </div>
            <div class="member-plan position-absolute">
              <span class="badge badge-danger">
                HOT
              </span>
            </div>
          </div>
          <div class="px-2 py-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1">
                <a class="text-black">
                  The Sakafo Resta...
                </a>
              </h6>
              <p class="text-gray mb-0 small">
                North, Hamburgers
              </p>
              <p class="text-gray mb-1 rating">
              </p>
              <ul class="rating-stars list-unstyled d-flex align-items-center gap-1">
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
              </ul>
              <p></p>
            </div>
            <div class="list-card-badge d-flex align-items-center">
              <span class="badge badge-danger me-2">
                OFFER
              </span>
              <small>
                60% NEW50
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col_6">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image" style="background-image: url('../../assets/icon/popular2.png');">
            <div class="star position-absolute">
              <span class="badge badge-success d-flex align-items-center gap-1">
                <span class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
                </span>
                <span class="d-flex align-items-center">
                  4.4
                </span>
              </span>
            </div>
            <div class="favourite-heart position-absolute">
              <span class="bookmarke d-inline-block d-flex align-items-center justify-content-center bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#000" class="bi bi-bookmark"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
              </span>
            </div>
            <div class="member-plan position-absolute">
              <span class="badge badge-danger">
                HOT
              </span>
            </div>
          </div>
          <div class="px-2 py-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1">
                <a class="text-black">
                  The Sakafo Resta...
                </a>
              </h6>
              <p class="text-gray mb-0 small">
                North, Hamburgers
              </p>
              <p class="text-gray mb-1 rating">
              </p>
              <ul class="rating-stars list-unstyled d-flex align-items-center gap-1">
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
              </ul>
              <p></p>
            </div>
            <div class="list-card-badge d-flex align-items-center">
              <span class="badge badge-danger me-2">
                OFFER
              </span>
              <small>
                60% NEW50
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d_f_between mb-2">
      <div class="col_6">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image" style="background-image: url('../../assets/icon/popular3.png');">
            <div class="star position-absolute">
              <span class="badge badge-success d-flex align-items-center gap-1">
                <span class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
                </span>
                <span class="d-flex align-items-center">
                  4.4
                </span>
              </span>
            </div>
            <div class="favourite-heart position-absolute">
              <span class="bookmarke d-inline-block d-flex align-items-center justify-content-center bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#000" class="bi bi-bookmark"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
              </span>
            </div>
            <div class="member-plan position-absolute">
              <span class="badge badge-danger">
                HOT
              </span>
            </div>
          </div>
          <div class="px-2 py-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1">
                <a class="text-black">
                  The Sakafo Resta...
                </a>
              </h6>
              <p class="text-gray mb-0 small">
                North, Hamburgers
              </p>
              <p class="text-gray mb-1 rating">
              </p>
              <ul class="rating-stars list-unstyled d-flex align-items-center gap-1">
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
              </ul>
              <p></p>
            </div>
            <div class="list-card-badge d-flex align-items-center">
              <span class="badge badge-danger me-2">
                OFFER
              </span>
              <small>
                60% NEW50
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col_6">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image" style="background-image: url('../../assets/icon/popular4.png');">
            <div class="star position-absolute">
              <span class="badge badge-success d-flex align-items-center gap-1">
                <span class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
                </span>
                <span class="d-flex align-items-center">
                  4.4
                </span>
              </span>
            </div>
            <div class="favourite-heart position-absolute">
              <span class="bookmarke d-inline-block d-flex align-items-center justify-content-center bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#000" class="bi bi-bookmark"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
              </span>
            </div>
            <div class="member-plan position-absolute">
              <span class="badge badge-danger">
                HOT
              </span>
            </div>
          </div>
          <div class="px-2 py-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1">
                <a class="text-black">
                  The Sakafo Resta...
                </a>
              </h6>
              <p class="text-gray mb-0 small">
                North, Hamburgers
              </p>
              <p class="text-gray mb-1 rating">
              </p>
              <ul class="rating-stars list-unstyled d-flex align-items-center gap-1">
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
              </ul>
              <p></p>
            </div>
            <div class="list-card-badge d-flex align-items-center">
              <span class="badge badge-danger me-2">
                OFFER
              </span>
              <small>
                60% NEW50
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d_f_between mb-2">
      <div class="col_6">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image" style="background-image: url('../../assets/icon/popular1.png');">
            <div class="star position-absolute">
              <span class="badge badge-success d-flex align-items-center gap-1">
                <span class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
                </span>
                <span class="d-flex align-items-center">
                  4.4
                </span>
              </span>
            </div>
            <div class="favourite-heart position-absolute">
              <span class="bookmarke d-inline-block d-flex align-items-center justify-content-center bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#000" class="bi bi-bookmark"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
              </span>
            </div>
            <div class="member-plan position-absolute">
              <span class="badge badge-danger">
                HOT
              </span>
            </div>
          </div>
          <div class="px-2 py-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1">
                <a class="text-black">
                  The Sakafo Resta...
                </a>
              </h6>
              <p class="text-gray mb-0 small">
                North, Hamburgers
              </p>
              <p class="text-gray mb-1 rating">
              </p>
              <ul class="rating-stars list-unstyled d-flex align-items-center gap-1">
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
              </ul>
              <p></p>
            </div>
            <div class="list-card-badge d-flex align-items-center">
              <span class="badge badge-danger me-2">
                OFFER
              </span>
              <small>
                60% NEW50
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col_6">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image" style="background-image: url('../../assets/icon/popular2.png');">
            <div class="star position-absolute">
              <span class="badge badge-success d-flex align-items-center gap-1">
                <span class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
                </span>
                <span class="d-flex align-items-center">
                  4.4
                </span>
              </span>
            </div>
            <div class="favourite-heart position-absolute">
              <span class="bookmarke d-inline-block d-flex align-items-center justify-content-center bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#000" class="bi bi-bookmark"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
              </span>
            </div>
            <div class="member-plan position-absolute">
              <span class="badge badge-danger">
                HOT
              </span>
            </div>
          </div>
          <div class="px-2 py-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1">
                <a class="text-black">
                  The Sakafo Resta...
                </a>
              </h6>
              <p class="text-gray mb-0 small">
                North, Hamburgers
              </p>
              <p class="text-gray mb-1 rating">
              </p>
              <ul class="rating-stars list-unstyled d-flex align-items-center gap-1">
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
              </ul>
              <p></p>
            </div>
            <div class="list-card-badge d-flex align-items-center">
              <span class="badge badge-danger me-2">
                OFFER
              </span>
              <small>
                60% NEW50
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d_f_between mb-2">
      <div class="col_6">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image" style="background-image: url('../../assets/icon/popular3.png');">
            <div class="star position-absolute">
              <span class="badge badge-success d-flex align-items-center gap-1">
                <span class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
                </span>
                <span class="d-flex align-items-center">
                  4.4
                </span>
              </span>
            </div>
            <div class="favourite-heart position-absolute">
              <span class="bookmarke d-inline-block d-flex align-items-center justify-content-center bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#000" class="bi bi-bookmark"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
              </span>
            </div>
            <div class="member-plan position-absolute">
              <span class="badge badge-danger">
                HOT
              </span>
            </div>
          </div>
          <div class="px-2 py-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1">
                <a class="text-black">
                  The Sakafo Resta...
                </a>
              </h6>
              <p class="text-gray mb-0 small">
                North, Hamburgers
              </p>
              <p class="text-gray mb-1 rating">
              </p>
              <ul class="rating-stars list-unstyled d-flex align-items-center gap-1">
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
              </ul>
              <p></p>
            </div>
            <div class="list-card-badge d-flex align-items-center">
              <span class="badge badge-danger me-2">
                OFFER
              </span>
              <small>
                60% NEW50
              </small>
            </div>
          </div>
        </div>
      </div>
      <div class="col_6">
        <div class="list-card bg-white h-100 rounded overflow-hidden position-relative shadow-sm">
          <div class="list-card-image" style="background-image: url('../../assets/icon/popular4.png');">
            <div class="star position-absolute">
              <span class="badge badge-success d-flex align-items-center gap-1">
                <span class="d-flex align-items-center">
                  <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                    viewBox="0 0 16 16">
                    <path
                      d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                  </svg>
                </span>
                <span class="d-flex align-items-center">
                  4.4
                </span>
              </span>
            </div>
            <div class="favourite-heart position-absolute">
              <span class="bookmarke d-inline-block d-flex align-items-center justify-content-center bg-white">
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="#000" class="bi bi-bookmark"
                  viewBox="0 0 16 16">
                  <path
                    d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                </svg>
              </span>
            </div>
            <div class="member-plan position-absolute">
              <span class="badge badge-danger">
                HOT
              </span>
            </div>
          </div>
          <div class="px-2 py-3 position-relative">
            <div class="list-card-body">
              <h6 class="mb-1">
                <a class="text-black">
                  The Sakafo Resta...
                </a>
              </h6>
              <p class="text-gray mb-0 small">
                North, Hamburgers
              </p>
              <p class="text-gray mb-1 rating">
              </p>
              <ul class="rating-stars list-unstyled d-flex align-items-center gap-1">
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
                <li>
                  <span class="rating_star last">
                    <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" fill="#fff" class="bi bi-star"
                      viewBox="0 0 16 16">
                      <path
                        d="M2.866 14.85c-.078.444.36.791.746.593l4.39-2.256 4.389 2.256c.386.198.824-.149.746-.592l-.83-4.73 3.522-3.356c.33-.314.16-.888-.282-.95l-4.898-.696L8.465.792a.513.513 0 0 0-.927 0L5.354 5.12l-4.898.696c-.441.062-.612.636-.283.95l3.523 3.356-.83 4.73zm4.905-2.767-3.686 1.894.694-3.957a.565.565 0 0 0-.163-.505L1.71 6.745l4.052-.576a.525.525 0 0 0 .393-.288L8 2.223l1.847 3.658a.525.525 0 0 0 .393.288l4.052.575-2.906 2.77a.565.565 0 0 0-.163.506l.694 3.957-3.686-1.894a.503.503 0 0 0-.461 0z" />
                    </svg>
                  </span>
                </li>
              </ul>
              <p></p>
            </div>
            <div class="list-card-badge d-flex align-items-center">
              <span class="badge badge-danger me-2">
                OFFER
              </span>
              <small>
                60% NEW50
              </small>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>