<!-- <ion-header>
  <ion-toolbar>
    <ion-title class="text-black">payment</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="hotel_head d-flex align-items-center justify-content-between">
    <div class="back">
      <button class="back_btn bg-white d-flex align-items-center gap-1" style="color: #000;">
        <span class="d-inline-block d-flex align-items-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="#000" class="bi bi-chevron-left"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z" />
          </svg>
        </span>
        Payment
      </button>
    </div>
    <div class="side_menu">
      <ul class="list-unstyled d-flex align-items-center gap-2 m-0">
        <li class="d-flex align-items-center justify-content-center">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="#000" class="bi bi-bag-check"
            viewBox="0 0 16 16">
            <path fill-rule="evenodd"
              d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z" />
            <path
              d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z" />
          </svg>
        </li>
        <li>
          <ion-buttons slot="start" style="color: #000;">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </li>
      </ul>
    </div>
  </div>
  <div class="py-3 osahan-cart-item" style="margin-top: 50px;">
    <div class="osahan-cart-item-profile bg-white shadow p-3">
      <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-1 px-0">
        <label class="custom-control-label border osahan-check p-3 w-100 rounded border-primary" for="customRadio1">
          <b>
            <i class="feather-home me-2">
              <img src="../../assets/icon/home.png" width="12" height="12" alt="">
            </i>
            Home
          </b>
          <p class="small mb-0 ps-4">Kalyani Nagar, Pune, Maharashtra</p>
        </label>
        <div class="checkbox-out">
          <label class="check position-absolute"><input type="radio" name="radio"> <span
              class="checkmark"></span></label>
        </div>
      </div>
      <div class="custom-control custom-radio d-flex align-items-center justify-content-between mb-1 px-0">
        <label class="custom-control-label border osahan-check p-3 w-100 rounded border-primary" for="customRadio1">
          <b>
            <i class="feather-home me-2">
              <img src="../../assets/icon/small-toolbox.png" width="12" height="12" alt="">
            </i>
            Work
          </b>
          <p class="small mb-0 ps-4">Kalyani Nagar, Pune, Maharashtra</p>
        </label>
        <div class="checkbox-out">
          <label class="check position-absolute"><input type="radio" name="radio"> <span
              class="checkmark"></span></label>
        </div>
      </div>
      <button class="new-address">
        ADD NEW ADDRESS
      </button>
    </div>
  </div>
  <div class="accordian-box" style="margin-bottom: 80px !important;">
    <div class="accordion" id="accordionExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
          <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
            aria-expanded="true" aria-controls="collapseOne">
            <span><img src="../../assets/icon/credit-card.png" alt=""></span> Credit/Debit Card
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Add new card</strong>
            <p class="new-card">WE ACCEPT <strong>( Master Card / Visa Card / Rupay )</strong></p>
            <div class="col-md-12 form-group mt-2">
              <label class="form-label mb-1 small">Card number</label>
              <div class="input-group">
                <input placeholder="Card number" type="number" class="form-control">
                <div class="input-group-append">
                  <button id="button-addon2" type="button" class="btn">
                    <img src="../../assets/icon/credit-card.png" alt="">
                  </button>
                </div>
              </div>
            </div>
            <div class="col-md-12 form-group mt-2">
              <label class="form-label mb-1 small">Valid through(MM/YY)</label>
              <div class="input-group">
                <input placeholder="Card number" type="number" class="form-control">
              </div>
            </div>

            <div class="col-md-12 form-group mt-2">
              <label class="form-label mb-1 small">CVV</label>
              <div class="input-group">
                <input placeholder="Card number" type="number" class="form-control">
              </div>
            </div>

            <div class="col-md-12 form-group mt-2">
              <label class="form-label mb-1 small">Name on card</label>
              <div class="input-group">
                <input placeholder="Card number" type="number" class="form-control">
              </div>
            </div>

            <div class="security-check d-flex align-items-center">
              <div class="custom-control  px-0 custom-checkbox">
                <label class="box text-black">
                  <input type="checkbox">
                  <span class="checkmark"></span>
                </label>
              </div>
              <p class="checkout-next mb-0 ps-4">Securely save this card for a faster checkout next time.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            <span><img src="../../assets/icon/globe.png" alt=""></span>Net Banking
          </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <ul class="list-unstyled
             d-flex align-items-center w-100">
              <li>
                <button class="bank-btn bank-btn-first active">
                  HDFC
                </button>
              </li>
              <li>
                <button class="bank-btn mid-bank-btn">
                  ICICI
                </button>
              </li>
              <li>
                <button class="bank-btn bank-btn-last">
                  AXIS
                </button>
              </li>
            </ul>
            <form>
              <div class="select">
                <label class="form-label mb-1 small">Select Number</label>
                <select class="custom-select custom-select-sm mb-1 mr-sm-2" id="inlineFormCustomSelectPref">
                  <option selected="">Choose bank</option>
                  <option value="1">Uco Bank</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
            data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
            <span><img src="../../assets/icon/dollar.png" alt=""></span> Cash on Delivery
          </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
          data-bs-parent="#accordionExample">
          <div class="accordion-body">
            <strong>Cash</strong>
            <p class="cash-on">
              Please keep exact change handy to help us serve you better
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fixed-bottom">
    <a
      class="btn proceed btn-block btn-lg text-white rounded shadow text-decoration-none d-flex align-items-center justify-content-center shadow">
      <div>
        <p class="mb-0 text-white"> Pay $1399 <span><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16"
              fill="currentColor" viewBox="0 0 16 16" class="bi bi-chevron-right">
              <path fill-rule="evenodd"
                d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z">
              </path>
            </svg></span></p>
      </div>
    </a>
  </div>
</ion-content>